@import url("photographer.css");
@import url("style.css");



/* template */
.circle_img{
    height: 250px;
    object-fit: cover;
    width: 405px;
    margin-bottom: 1em;
  }


.overlay{

  display: none;
}

.vitrine {
  height: 30em;
  width: 100%;
}

.vitrine img{
 width: 100%;
 height: 540px;
 object-fit: cover;
}