@import url("photographer.css");
@import url("style.css");



/* template */
.circle_img{
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    width: 200px;
    margin-bottom: 1em;
  }